<%- include("include/head.ejs") %>

        <div class="post-container">
            <p>
                <a href="http://localhost:3000/<%=username%>"><i class="fa-solid fa-angle-left" title="Back"></i></a>
                <br>
                <br>
                Id : <%= post.id %> 
            </p>
            <img src="<%= post.imgUrl %>" class="post-pic" />
            <br>
            <br>
            <p style="display: inline;">
                <span>
                <i class="fa-regular change font fa-heart heart">&nbsp;&nbsp;</i
                ><i class="fa-regular font fa-comment"></i>
                <i class="fa-regular font fa-paper-plane">&nbsp;&nbsp;</i
                ><i class="fa-regular change font fa-bookmark bookmark"></i>
                </span>
                

                <span style="margin-left: 40%;">
                    <form style="display: inline;"
                        method="post" 
                        action="/<%=username%>/<%= post.id %>?_method=DELETE"  
                        onsubmit="return confirm('Are you sure you want to delete this post?');"
                        style="display: inline;"
                    >
                        <button style="border: none; background-color: transparent; box-shadow: none;"
                        >
                            <i class="fa-solid fa-trash-can edit-icon" style="font-size: 18px;"></i>
                        </button>
                    </form>

                    <a href="http://localhost:3000/<%=username%>/<%=post.id%>/edit">
                        <i class="fa-solid fa-pen-to-square edit-icon" style="font-size: 18px;"></i>
                    </a>
                </span>
                
            </p>
            
            <p>
                <span class="number"><%=post.likes%></span> likes&nbsp;&nbsp;<span class="number"><%=post.comment%></span> comments
            </p>
            <p>
                <span style="font-weight: bold;"><%=user.username%>:&nbsp;</span><%=post.caption%> 
            </p>
        </div>
        <script src="/post.js"></script>
    </body>
</html>